table {
    border-collapse: collapse;
    margin-bottom:10px;
}

td,th {
    border:1px solid #333;
}

th {
    background-color:#f5f5f5;
    text-align: center;
}

th, td {
    padding: 5px;
}

h1 a ,
h2 a{
    font-size: 0.5em;
}

.bl-ag-usg img {
    border: 1px #efefef solid;
    padding: 15px;
    width: 499px;
    margin-bottom: 30px;
}