table {
    border-collapse: collapse;
    margin-bottom:10px;
}

td,th {
    border:1px solid #333;
}

th {
    background-color:#f5f5f5;
    text-align: center;
}

th, td {
    padding: 5px;
}

.bl-ag-usg img {
    border: 1px #efefef solid;
    padding: 15px;
    width: 499px;
    margin-bottom: 30px;
}

.navbar-nav li {
    padding-right: 10px;
}

.container.toppage h1 {
    text-align: center;
}
.container.toppage img.topimg{
    width: 300px;
    text-align: center;
    margin: 25px auto 7px;
    display: block;
}

.container.toppage h2{
    font-size:x-large;
}

.container.toppage h2 span{
    margin-left: 10px;
    font-size:large;
}

h1, .h1 {
    font-size: 3rem;
}

.tool-list-wrapper {
    margin-bottom: 40px;
}

a {
color: #04b576;
}

a:hover {
color: #05ce87;
}

.top-title-area {
border: 3px solid #1f1f1f;
border-radius: 8px;
padding: 5px;
margin: 0 0 20px;
}

.top-title-area h1 {
    font-size: 1.5rem;
}

.btn {
    margin-bottom: 10px;
}

.chkboxhide{
    display: none;
}