table {
    border-collapse: collapse;
}

td,th {
    border:1px solid #333;
}

th {
    background-color:#f5f5f5;
    text-align: center;
}

th, td {
    padding: 5px;
}

h2 a {
    font-size: 0.5em;
}